{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Нас немного, пока всего один человек. Меня зовут Елена. Еще со школы я принимала участие в
            олимпиадах по математике, занимая призовые места. Позже поступила учиться в университет
            и получила математическое образование. Особенно мне интересна логика и теория игр.
            Еще люблю писать программы на Python. Собираюсь на этом сайте реализовывать различные
            полезные приложения для математиков и делиться интересной информацией. Хочу здесь объединить всех тех,
            кто любит математику.</p>
    </div>
{% endblock %}